{% extends 'BandBrowser/base.html' %}
{% load staticfiles %}

{% load bandBrowser_template_tags %}
{% block title_block %}
Band Info
{% endblock %}

{% block body_block %}
<body>
<link rel="stylesheet" href="{% static 'BandInfo/styles.css' %}">
<div class="main-container">
    <div class="left-container">
        <form id="bandUpdateForm" method="post" action="{% url 'BandBrowser:updateBandInfo' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="Topleft-container">
                <div class="general-container">
                    <h2 class="general-label" >General</h2>
                    <textarea style = "display:none" name="oldBandName" placeholder="Bio" cols="30" rows="10">{{band.name}}</textarea>
                    <input  id = "band name" class="general-Form" name="Bandname" type="text" placeholder="Band Name"}} >
                    <script type="text/javascript">
                        document.getElementById("band name").value = "{{band.name}}";
                    </script>
                    <select class="general-Form" name="commitment" id="commitment-Instrument">
                        <option value={{band.commitment}}>{{band.commitment}}</option>
                        <option value="Weekly">Weekly</option>
                        <option value="Whenever">Whenever</option>
                        <option value="Daily">Daily</option>
                    </select>
                    <select class="general-Form" name="genres" id="genres-Instrument">
                        <option value={{band.genres}}>{{band.genres}}</option>
                        <option value="Rock">Rock</option>
                        <option value="Pop">Pop</option>
                        <option value="Rap">Rap</option>
                    </select>

                </div>
                <div class="info-container">

                    <input id = "location" class="location" name="Location" type="text" placeholder="Location">
                    <script type="text/javascript">
                        document.getElementById("location").value = "{{band.location}}";
                    </script>
                    <textarea class="bio" name="description" id="description" placeholder="Bio" cols="30" rows="10">{{band.description}}</textarea>
                </div>
            </div>
        </form>
        <div class="Bottomleft-container">
            <h2 class="currentMembers">Current Members</h2>
            {% for member in CurrentMembers %}
            {{member.username}}
                <div class="currentMembers-Container">
                    {% if member.username != userProfile.user.username %}
                        <form id="viewUserPageForm" method="post" action="{% url 'BandBrowser:viewUserPage' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea style = "display:none" name="userToView" cols="30" rows="10">{{member.username}}</textarea>
                            <a class = 'currentMemberLink' href="#" onclick="document.forms['viewUserPageForm'].submit(); return false;">{{member.username}}</a>
                        </form>
                        <form id="removeCurrentBandMemberForm" method="post" action="{% url 'BandBrowser:removeCurrentBandMember' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea style = "display:none" name="bandName" cols="30" rows="10">{{band.slug}}</textarea>
                            <textarea style = "display:none" name="memberToRemove" cols="30" rows="10">{{member.username}}</textarea>
                            <a href="#" onclick="document.forms['removeCurrentBandMemberForm'].submit();" class="currentMemberDelete" style="color: red">Remove</a>
                        </form>
                    {% else %}
                        <div class="currentMemberLink">{{member.username}}</div>
                        <div class="currentMemberDelete">(You)</div>
                    {% endif%}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="right-container">
        <div class="currentRequests-container">
            <h2 class="currentRequests">Current Requests</h2>
            {% for member in potentialMember %}
                <div class="currentRequest-Container">
                    <a href="temp" class="currentRequestAccountLink" >{{member.username}}</a>

                    <form id="acceptUserJoinRequestForm" method="post" action="{% url 'BandBrowser:acceptUserJoinRequest' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <textarea style = "display:none" name="bandName" cols="30" rows="10">{{band.slug}}</textarea>
                        <button type="submit" form="acceptUserJoinRequestForm" name="userToJoin" value = {{member.username}}  class="create-post-btn">Accept</button>
                    </form>
                    <form id="declineUserJoinRequestForm" method="post" action="{% url 'BandBrowser:declineUserJoinRequest' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <textarea style = "display:none" name="bandName" cols="30" rows="10">{{band.slug}}</textarea>
                        <button type="submit" form="declineUserJoinRequestForm" name="userNotToJoin" value = {{member.username}} class="currentRequestButton" style = "border-color: black; background-color: #FF0000; color: white" onMouseOver="this.style.background='#CC0000'"
                                onMouseOut="this.style.background='#FF0000'">Decline</button>
                    </form>
                    &nbsp;
                </div>
            {% endfor %}
        </div>
        &nbsp;
        <div class="buttons-container">
            <button type="submit" form="bandUpdateForm">Save Changes</button>
            <form id="leaveBandForm" method="post" action="{% url 'BandBrowser:leaveBand' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <button form="leaveBandForm" name="bandSlug" value ={{band.slug}} style = "border-color: black; background-color: #FF0000; color: white" onMouseOver="this.style.background='#CC0000'"
                        onMouseOut="this.style.background='#FF0000'">Leave Band</button>
            </form>
        </div>
    </div>
</div>

</body>
{% endblock %}