{% extends 'BandBrowser/base.html' %}
{% load staticfiles %}

{% block title_block %}
Band Info
{% endblock %}

{% block body_block %}
<body>
<link rel="stylesheet" href="{% static 'BandInfo/styles.css' %}">
<div class="main-container">
    <div class="left-container">
        <div class="Topleft-container">
            <div class="general-container">
                <h2 class="general-label" >General</h2>
                <input class="general-Form" name="Band name" type="text" placeholder="Band Name">
                <select class="general-Form" name="commitment-Instrument" id="commitment-Instrument">
                    <option value="0">Commitment</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <select class="general-Form" name="genres-Instrument" id="genres-Instrument">
                    <option value="0">Genres</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>

            </div>
            <div class="info-container">

                <input class="location" name="Location" type="text" placeholder="Location">
                <textarea class="bio" name="description" id="bio" placeholder="Bio" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="Bottomleft-container">
            <h2 class="currentMembers">Current Members</h2>
            <div class="currentMembers-Container">
                <a href="temp" class="currentMemberLink" >UserAccount</a>
                <a href="temp" class="currentMemberDelete" style="color: red">Remove</a>
            </div>
        </div>
    </div>
    <div class="right-container">
        <div class="currentRequests-container">
            <h2 class="currentRequests">Current Requests</h2>
            <div class="currentRequest-Container">
                <a href="temp" class="currentRequestAccountLink" >UserAccount</a>
                <button class="currentRequestButton">Accept</button>
                <button class="currentRequestButton" id="DeclineRequest" style = "border-color: black; background-color: #FF0000; color: white" onMouseOver="this.style.background='#CC0000'"
                        onMouseOut="this.style.background='#FF0000'">Decline</button>
                &nbsp
            </div>
        </div>
        <div class="buttons-container">
            <button id="leaveBand" style = "border-color: black; background-color: #FF0000; color: white" onMouseOver="this.style.background='#CC0000'"
                    onMouseOut="this.style.background='#FF0000'">Leave Band</button>
            &nbsp;
            <button>Save Changes</button>
        </div>
    </div>
</div>

</body>
{% endblock %}