<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BandBrowser | Create a Post</title>
    <link rel="stylesheet" href="{% static 'createPost/CSS/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="top-container">
        <div class="left">
            <h1>Create Post</h1>
            <a href="{% url 'BandBrowser:index' %}">
                <button>Return Home</button>
            </a>
        </div>
        <div class="right">
            <a href="{% url 'BandBrowser:accountPage' %}">
                <button>My account</button>
            </a>
        </div>
    </div>

    <div class="main-container">
        <div class="tabs">
            <button id="lfb" class="active">Looking for Band</button>
            <button id="lfm">Looking for Member</button>
        </div>
        <form id="lfb-form" class="form-container">
            <div class="left">
                <input name="title" type="text" placeholder="Title">
                <input name="location" type="text" placeholder="Location">
                <textarea name="description" id="description" placeholder="Description" cols="30" rows="10"></textarea>
            </div>

            <div class="right">
                <select name="commitment" id="commitment">
                    <option value="0">Commitment</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>

                  <select name="genre" id="genre">
                    <option value="0">Genre</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>

                  <select name="experience" id="experience">
                    <option value="0">Experience</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>

                  <div class="expiresIn">
                      <div class="expires-left">
                          <div class="label">Expire post in</div>
                      </div>

                      <div class="expires-right">
                          <input type="number" id="expiresIn" name="expiresIn" step="1" min="1" max="15">
                          <div class="text">days</div>
                      </div>
                  </div>

                  <button id="lfb-submit" class="submit-button" type="submit">Create Post</button>
            </div>
        </form>
    </div>

    <!-- Handles Form Tabs -->
    <script>
        const bandFormHtml = `            
        <div class="left">
                <input name="title" type="text" placeholder="Title">
                <input name="location" type="text" placeholder="Location">
                <textarea name="description" id="description" placeholder="Description" cols="30" rows="10"></textarea>
            </div>

            <div class="right">
                <select name="commitment" id="commitment">
                    <option value="0">Commitment</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>

                  <select name="genre" id="genre">
                    <option value="0">Genre</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>

                  <select name="experience" id="experience">
                    <option value="0">Experience</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>

                  <div class="expiresIn">
                      <div class="expires-left">
                          <div class="label">Expire post in</div>
                      </div>

                      <div class="expires-right">
                          <input type="number" id="expiresIn" name="expiresIn" step="1" min="1" max="15">
                          <div class="text">days</div>
                      </div>
                  </div>

                  <button id="submit-button" type="submit">Create Post</button>
            </div>`
    
        const memberFormHtml = ``;

        const formContainer = $(".form-container");
        $("#lfb").click(function(){
            $("#lfm").removeClass("active");
            $("#lfb").addClass("active");
            formContainer.html(bandFormHtml);
        });

        $("#lfm").click(function(){
            $("#lfb").removeClass("active");
            $("#lfm").addClass("active");
            formContainer.html(memberFormHtml)
        });
    </script>

    <!-- Ajax request helpers -->
    <script>
        function get(url){
            return $.get(url);
        }

        function post(url, data){
            return $.post(url, data);
        }

        function getFormData(formID){
            var formData = {};
            $(formID).find("input, textarea, select").each(function(index, element){
                formData[element.name] = element.value;
            });
            return formData;
        }

        function isInvalid(formData){
            for(var key in formData){
                if(formData[key] == ""){
                    return `${key} cannot be empty`;
                }
            }
            return true;
        }

    </script>

    <!-- Handles form submissions -->
    <script>
        $("#lfb-submit").click(function(e){
            // stop from auto submitting
            e.preventDefault();
            const data = getFormData("#lfb-form");
            const formInvalid = isInvalid(data);
            if(formInvalid !== true){
                alert(formInvalid);
                return;
            }

            post("FORM_POST_URL_HERE", data)
            .then(function(response){
                console.log(response);
                // REDIRECT TO HOME PAGE
                window.location.href = "/"
            }).catch(function(error){
               alert(":( An error occurred");
            });

        });
    </script>

</body>
</html>