{% extends 'BandBrowser/base.html' %}
{% load staticfiles %}

{% block title_block %}
BandBrowser
{% endblock %}

{% block body_block %}
    <div class="middle-container">
        <select name="filter1" id="filter1">
            <option value="0">Most recent</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <p id="musicians-p">Musicians</p>
          <p id="musicians-p2">Bands</p>
        <div class="left" style="display:inline-block">
            <input class="radio-btn" type="radio"><br>
            <input class="radio-btn" type="radio">   
        </div>
        <select name="filter2" id="filter2" style="margin-left:60%">
            <option value="0">Guitarist</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        
        <input type="text" class="search-input" placeholder="Search"><br>
        

        
    </div>

    <div class="bottom-container">
        {% if post %}
            {% for p in post %} 
                <div class="test-div">
                    <p>title: {{ p.title }} </p>
                    <p>description: {{ p.description }}</p>
                </div>
            {% endfor %} 
        {% else %} 
            <p>No posts...</p>
        {% endif %} 


            
    </div>
    <button class="create-post-btn"><a href="{% url 'BandBrowser:createPostPage' %}">Create Post</a></button>


{% endblock %}
