
<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Project</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="top-container">
        <div class="left">
            <h1 style="padding-bottom:10px">BandBrowser</h1>
            
        </div>
        <div class="right">
            <button>My account</button>
        </div>
        <button id="top-but" style="background-color:#92A9BD">Homepage</button><button id="top-but2"onClick="location.href={% url 'BandBrowser:myBandPage' %}" >My Band</button>
    </div>
    
    <div class="middle-container">
        <select name="filter1" id="filter1">
            <option value="0">Most recent</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <p id="musicians-p">Musicians</p>
          <p id="musicians-p2">Bands</p>
        <div class="left" style="display:inline-block">
            <input class="radio-btn" type="radio"><br>
            <input class="radio-btn" type="radio">   
        </div>
        <select name="filter2" id="filter2" style="margin-left:60%">
            <option value="0">Guitarist</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        
        <input type="text" class="search-input" placeholder="Search"><br>
        

        
    </div>
    <div class="bottom-container">
        <div class="test-div">
        </div>
        <div class="test-div" >
        </div>
        <div class="test-div">
        </div>
        <div class="test-div" " >
        </div>
        <div class="test-div">
        </div>
        <div class="test-div" >
        </div>
    </div>
    <button class="create-post-btn" onClick="location.href='createPost/index.html'">Create Post</button>
</body>
<hr>
<a href="LoginPage/login.html">login</a>

</html>
