<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Project</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="top-container">
        <div class="left">
            <h1 style="padding-bottom:10px">My Band</h1>
            
        </div>
        <div class="right">
            <a href="{% url 'BandBrowser:accountPage' %}">
                <button>My account</button>
                </a>
        </div>
        <button id="top-but" ><a href="{% url 'BandBrowser:index' %}">Homepage</a></button><button id="top-but2" style="background-color:#92A9BD" >My Band</button>
    </div>
    
    <div class="middle-container" style="padding-bottom:24px">
        <select name="filter1" id="filter1">
            <option value="0">Most recent</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        
          <select name="filter3" id="filter3" style="margin-left:60%">
            <option value="0">Genre</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>  

        <select name="filter2" id="filter2" style="margin-left:60%">
            <option value="0">Commitment</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        
        <input type="text" class="search-input" placeholder="Search"><br>
        

        
    </div>
    <div class="bottom-container">
        <div class="test-div">
        </div>
        <div class="test-div" >
        </div>
        <div class="test-div">
        </div>

    </div>
    <button class="create-post-btn"><a href="{% url 'BandBrowser:createBandPage' %}">Create A Band</a></button>
</body>

</html>
