{% extends 'BandBrowser/base.html' %}
{% load staticfiles %}

{% block title_block %}
My Bands
{% endblock %}
{% block body_block %}

    <div class="middle-container" style="padding-bottom:24px">
        <select name="filter1" id="filter1">
            <option value="0">Most recent</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        
          <select name="filter3" id="filter3" style="margin-left:60%">
            <option value="0">Genre</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>  

        <select name="filter2" id="filter2" style="margin-left:60%">
            <option value="0">Commitment</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        
        <input type="text" class="search-input" placeholder="Search"><br>
        

        
    </div>
    <div class="bottom-container">
        {% if bands %}
            {% for b in bands %}
             <form class = "tabContent" id="createUserPost" method="post" action="{% url 'BandBrowser:bandInfoPage' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="test-div">
                    <p>name: {{ b.name }} </p>
                    <button name="bandName" value = {{b.slug}}  class="create-post-btn">View Band</button>
                </div>
             </form>
            {% endfor %}
        {% else %}
            <p>No posts...</p>
        {% endif %}

    </div>
    <button class="create-post-btn"><a href="{% url 'BandBrowser:createBandPage' %}">Create A Band</a></button>
    <!--  
    {% if bands %} 
        {% for b in bands %} 
            {{ b.name }}
        {% endfor %}
    {% endif %}
-->
    {% endblock %}

