{% extends 'BandBrowser/base.html' %}
{% load staticfiles %}

{% block title_block %}
Create A Post
{% endblock %}

{% block body_block %}
  <link rel="stylesheet" href="{% static 'createPost/CSS/style.css' %}">


<div class="main-container">
  <div class="tabs">
    <button class="tabLinks" onclick ="openTab(event,'createUserPost')" id="lfab">Looking for Band</button>
    <button class="tabLinks" onclick ="openTab(event,'createBandPost')" id="lfam">Looking for Member</button>
  </div>
  <form style="display:none" class = "tabContent" id="createBandPost" method="post" action="{% url 'BandBrowser:createBandPost' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-container">
      <div class="left">
        <h2>Looking for Member</h2>
        <input name="title" type="text" placeholder="Title">
        <select name="band" id="band">
          {% if bands %}
          {% for band in bands %}
          <option value={{band.slug}} >{{ band.name }}</option>
          {% endfor %}
          {% else %}
          <option value="Error">You are not in a band</option>
          {% endif%}
        </select>
        <textarea name="description" id="description" placeholder="Description" cols="30" rows="10"></textarea>
      </div>

      <div class="right">
        <input name="location" type="text" placeholder="Location">
        <select name="commitment" id="commitment">
          <option value="Error">Commitment</option>
          <option value="Weekly">Weekly</option>
          <option value="Whenever">Whenever</option>
          <option value="Daily">Daily</option>
        </select>

        <select name="genre" id="genre">
          <option value="Error">Genre</option>
          <option value="Rock">Rock</option>
          <option value="Pop">Pop</option>
          <option value="Rap">Rap</option>
        </select>

        <select name="experience" id="experience">
          <option value="Error">Experience</option>
          <option value="Beginner">Beginner</option>
          <option value="Enthusiast">Enthusiast</option>
          <option value="Professional">Professional</option>
        </select>

        <div class="expiresIn">
          <div class="expires-left">
            <div class="label">Expire post in</div>
          </div>

          <div class="expires-right">
            <input type="number" id="expiresIn" name="expiresIn" step="1" min="1" max="15">
            <div class="text">days</div>
          </div>
        </div>

        <button id="submit-button" type="submit">Create Post</button>
      </div>
    </div>
  </form>

  <form class = "tabContent" id="createUserPost" method="post" action="{% url 'BandBrowser:createUserPost' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-container">
      <div class="left">
        <h2>Looking for Band</h2>
        <input name="title" type="text" placeholder="Title">
        <textarea name="description" id="Userdescription" placeholder="Description" cols="30" rows="10"></textarea>
      </div>

      <div class="right">
        <input name="location" type="text" placeholder="Location">
        <select name="commitment" id="Usercommitment">
          <option value="Error">Commitment</option>
          <option value="Weekly">Weekly</option>
          <option value="Whenever">Whenever</option>
          <option value="Daily">Daily</option>
        </select>

        <select name="genre" id="Usergenre">
          <option value="Error">Genre</option>
          <option value="Rock">Rock</option>
          <option value="Pop">Pop</option>
          <option value="Rap">Rap</option>
        </select>

        <select name="experience" id="Userexperience">
          <option value="Error">Experience</option>
          <option value="Beginner">Beginner</option>
          <option value="Enthusiast">Enthusiast</option>
          <option value="Professional">Professional</option>
        </select>

        <div class="expiresIn">
          <div class="expires-left">
            <div class="label">Expire post in</div>
          </div>

          <div class="expires-right">
            <input type="number" id="UserexpiresIn" name="expiresIn" step="1" min="1" max="15">
            <div class="text">days</div>
          </div>
        </div>

        <button id="Usersubmit-button" type="submit">Create Post</button>
      </div>
    </div>
  </form>
  <script type="text/javascript">
            function openTab(evt,createPost) {
              var i, tabcontent, tablinks;

              // Get all elements with class="tabContent" and hide them
              tabContent = document.getElementsByClassName("tabContent");
              for (i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
              }
              document.getElementById(createPost).style.display = "block";
            }
        </script>
</div>
{% endblock %}