/********************TAG SELECTORS************************/

/********************CLASS SELECTORS************************/
.top-container {
    /*display: inline-block; */
    background-color: #7882a4;
    width: 100%;
    margin-bottom: 10px;
}

.middle-container {
    background-color: #cfcfcf;
    width: 90%;
    margin-bottom: 10px;
}

.bottom-container {
    width: 800px;
    height: 500px;
    background-color: grey;
}

.web-title {
    display: inline-block;
}

.button-account {
    margin-left: 550px;
    font-size: 16px;
    border-style: groove;
    border-width: 2px;
    
    
}

.button-top {
    border-style: groove;
    border-width: 2px;
}

.filter {
    display: inline-block;
}

.search-input{
    margin-left: 350px;
}


/********************ID SELECTORS************************/
