.top-container {
    display: inline-block;
    background-color: #7882a4;
    width: 100%;
    margin-bottom: 10px;
}

.middle-container {
    background-color: #cfcfcf;
    width: 90%;
    margin-bottom: 10px;
}

.bottom-container {
    width: 800px;
    height: 500px;
    background-color: grey;
}