/********************TAG SELECTORS************************/
*, html, body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-transition: ease .2s;
    transition: ease .2s;
  }
/********************CLASS SELECTORS************************/
.top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #7882a4;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 25px 15px 25px;
    margin-bottom: 10px;
  }
  
  .top-container .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .top-container .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  
  .top-container .left button {
    padding: 0;
  }

.middle-container {
    display: inline-block;
    background-color: #cfcfcf;
    width: 80%;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.bottom-container {
    width: 80%;
    height: 500px;
    background-color: grey;
    margin-left: 10%;
    margin-right: 10%;
}

.web-title {
    display: inline-block;
}

.button-account {
    margin-left: 550px;
    font-size: 16px;
    border-style: groove;
    border-width: 2px;
    
    
}

.button-top {
    border-style: groove;
    border-width: 2px;
}

.filter {
    display: inline-block;
}

.search-input{
    margin-left: 75%;

    
}

.create-post-btn{
    margin-top: 10px;
    margin-left: 80%;
}


/********************ID SELECTORS************************/
#filter1 {
    display: inline-block;
}
