/********************TAG SELECTORS************************/
*, html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

h2 {
  font-size: 1.2em;
  /* add underline */
  text-decoration: underline;
}

body {
  background-color: #fefefe;
}

button {
  background-color: gainsboro;
  border: solid 1px;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #c8c8c8;
}

button:active {
  background-color: #b4b4b4;
}

.deleteButton:hover {
  background-color: #00b4b4;
}

button:hover {
  background-color: #c8c8c8;
}

input, select, textarea {
  padding: 5px;
  margin-bottom: 10px;
}

label {
  font-size: .9em;
}

/********************CLASS SELECTORS************************/
.top-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #7882a4;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 25px 35px 25px;
  margin-bottom: 10px;
}

.top-container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.top-container .left button {
  padding: 0;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5%;
  gap: 5%;
}

.main-container .left-container {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.main-container .left-container .Topleft-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: solid 1px;
  gap: 15px;
}

.main-container .left-container .Topleft-container .general-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .left-container .Topleft-container .general-container .general-label {
  text-align: center;
}

.main-container .left-container .Topleft-container .general-container .general-Form {
  margin-bottom: 10px;
}

.main-container .left-container .Topleft-container .info-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .left-container .Topleft-container #description {
  margin-bottom: 0;
}

.Bottomleft-container {
  min-height: 80px;
  border: solid;
  border-width: 1.5px;
}

.currentMembers-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
  margin-bottom: 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: #eeeeee;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currentMembers-Container .currentMemberLink {
  font-size: 1em;
}

.currentMembers-Container .currentMemberDelete {
  font-size: .9em;
}

.right-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.currentRequests-container {
  border: solid;
  text-align: center;
}

.currentRequest-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 1px rgba(0, 0, 0, 0.4);
  background-color: #eee;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  border-radius: 5px;
}

.currentRequest-Container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currentRequest-Container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tertiary-button-danger {
  font-size: .9em;
  background-color: transparent;
  border: none;
  color: #FF0000;
  text-decoration: underline;
}

.tertiary-button-danger:hover {
  background-color: transparent;
  color: #a10404;
}

.secondary-button-danger {
  font-size: .9em;
  background-color: transparent;
  border: solid 1px #FF0000;
  color: #FF0000;
}

.secondary-button-danger:hover {
  background-color: transparent;
  color: #a10404;
  border-color: #a10404;
}

.primary-button {
  margin-top: 0;
  margin-left: 0;
  background-color: darkcyan;
  font-size: .9em;
  color: #fff;
}

.primary-button:hover {
  background-color: #027777;
}

.buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 5px;
}

.Delete Account {
  background-color: #FF0000;
  color: white;
}

.web-title {
  display: inline-block;
}

.button-account {
  font-size: 16px;
  border-style: groove;
  border-width: 2px;
}

.button-top {
  border-style: groove;
  border-width: 2px;
}

.filter {
  display: inline-block;
}

.search-input {
  position: absolute;
  display: inline-block;
  border: solid 1px;
  font-size: 1em;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  right: -1px;
}

.radio-btn {
  margin-left: 1350%;
}

.block {
  background-color: #f8f8f8;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.404);
  border-radius: 5px;
  padding: 25px;
}

/********************ID SELECTORS************************/
#filter1 {
  position: absolute;
  display: inline-block;
  margin-left: 20px;
  border: solid 1px;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#filter2 {
  position: absolute;
  display: inline-block;
  border: solid 1px;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  right: 220px;
}

#filter3 {
  position: absolute;
  display: inline-block;
  border: solid 1px;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  right: 380px;
}

#top-but {
  position: absolute;
  top: 70px;
  left: 0;
  padding: 2.5px 10px;
}

#top-but2 {
  position: absolute;
  top: 70px;
  left: 100px;
  padding: 2.5px 15px;
}
/*# sourceMappingURL=styles.css.map */