$color1: #7882a4;

*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: ease .2s;
}

button{
    background-color: rgb(220, 220, 220);
    border: solid 1px;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(200, 200, 200);
}
button:active{
    background-color: rgb(180, 180, 180);
}

input{
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
    font-size: .85em;
}

textarea{
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
    font-size: .85em;

}

select{
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;  
    font-size: .85em;

}



.main-container{
    padding: 15px 25px 15px 25px;

    .tabs{
        display: flex;
        button{
            padding: 5px 10px;
            border-radius: 5px 5px 0 0;
        }
        .active{
            background-color: rgb(130, 130, 130);
        }
    }

    .form-container{
        display: flex;
        padding: 15px;
        background-color: #858585;
        gap: 20px;

        .left{
            flex: 3;
            display: flex;
            flex-direction: column;
            gap: 5px;

        }

        .right{
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .expiresIn{
                width: 100%;
                display: flex;
                background-color: white;
                border-radius: 5px;
                border: 1px black solid;
                padding: 10px;
                font-size: .85em;


                .expires-right{
                    display: flex;
                    justify-self: flex-end;
                    input{
                        font-size: .85em;
                        width: 40px;
                        text-align: end;
                        border: none;
                        padding: 0;
                    }
                }

            }
        }

        button.submit-button{
            padding: 10px !important;
        }
    }
}