*, html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

button {
  background-color: gainsboro;
  border: solid 1px;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #c8c8c8;
}

button:active {
  background-color: #b4b4b4;
}

input {
  border: solid 1px;
  border-radius: 5px;
  padding: 10px;
  font-size: .85em;
}

textarea {
  border: solid 1px;
  border-radius: 5px;
  padding: 10px;
  font-size: .85em;
}

select {
  border: solid 1px;
  border-radius: 5px;
  padding: 10px;
  font-size: .85em;
}

.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #7882a4;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 25px 15px 25px;
}

.top-container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.top-container .left button {
  padding: 5px 10px;
}

.main-container {
  padding: 15px 25px 15px 25px;
}

.main-container .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .tabs button {
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
}

.main-container .tabs .active {
  background-color: #828282;
}

.main-container .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  background-color: #858585;
  gap: 20px;
}

.main-container .form-container .left {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.main-container .form-container .right {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.main-container .form-container .right .expiresIn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 5px;
  border: 1px black solid;
  padding: 10px;
  font-size: .85em;
}

.main-container .form-container .right .expiresIn .expires-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
}

.main-container .form-container .right .expiresIn .expires-right input {
  font-size: .85em;
  width: 40px;
  text-align: end;
  border: none;
  padding: 0;
}

.main-container .form-container button.submit-button {
  padding: 10px !important;
}
/*# sourceMappingURL=style.css.map */